/* remove default styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* base styles */

body {
        font-family: Arial, sans-serif;
        margin: auto;
        color: #222;
    }

.navbar {
    padding: 0px 150px;
}

h1, h2 {
        color: #111;
    }

p {
    padding: 0px 10px;
}

.outer-container {
    border-radius: 52px;
    background: #d3d9f2;
    box-shadow:  13px 13px 21px #777777,
                -13px -13px 21px #ffffff;
    max-width: 800px;
    min-height: 400px;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,0.7);
}
